.my-card {
  width: 100%;
  max-width: 250px
}

.Name {
  color: #21BA45;
}

.search-style {
  width: 800px;
  border-radius: 30px;
  box-shadow: 2px 12px 16px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: auto;
}

.slider-style{
  padding: 0px 15px 10px 15px;
}
