.parallax {
  perspective: 100px;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  position: absolute;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.parallax::-webkit-scrollbar {
  display: none;
}

.parallax__cover {
  background: linear-gradient(to bottom, #003329 15%, white 15%, #93dfd5 85%);
  position: relative;
  display: flex;
  flex-direction: column;
  top: 99%;
  height: 472vh;
  transform-style: preserve-3d;
  z-index: 2;
}

header {
  position: absolute;
  top: -65vh;
  left: calc(100vh - 45vh);
  z-index: -1;
}

.title {
  font-size: 5rem;
  color: white;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
}

.btn-title {
  position: absolute;
  z-index: -1;
  top: 150px;
  left: 390px;
  font-size: 0.2em;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 3.5s ease;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.logo {
  font-size: 4em;
  color: #359381;
  pointer-events: none;
  margin-right: 610px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.navigation a {
  text-decoration: none;
  color: #359381;
  padding: 6px 15px;
  border-radius: 20px;
  margin: 0 10px;
  font-weight: 700;
  font-size: 1.3em;
}

.navigation a:hover,
.navigation a.active {
  background: #359381;
  color: #fff;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.header {
  position: fixed;
  top: -100vh;
  left: 100px;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;
}

.stepper-progress {
  margin: 350px 50px 400px 50px;
}

.stepper-progress-1 {
  border-radius: 30px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);
}

@media (min-width: 1200px) and (max-width: 1400px) {
  header {
    top: -60vh;
    left: calc(100vh - 50vh);
  }
  .title {
    font-size: 4.5em;
  }
  .btn-title {
    left: 320px;
    top: 110px;
  }

  .logo {
    font-size: 2.5em;
    margin-right: 430px;
  }

  .header {
    top: -105vh;
    padding: 20px 10px;
  }

  .navigation a {
    font-size: 1.1em;
  }

  .parallax__cover {
    background: linear-gradient(to bottom, #003329 15%, white 15%, #93dfd5 85%);
    height: 730vh;
  }
}
